<!--
    User Interface v2
    for feeding robot arm
    By Ye Liu
    Aug 23 2018
-->

<!DOCTYPE html>
<html>

<head>
  <title>Feedie - AI feeding robot arm</title>
  <link rel="shortcut icon" href="/static/assets/favicon.ico">
  <link rel="Stylesheet" type="text/css" href="/static/css/style.css" />
  <script src="/static/javascript/jquery-3.3.1-min.js"></script>
  <script src="/static/javascript/index.js"></script>
</head>

<body onload="onInit()">
  <div class="wrapper">
    <div id="flipper" class="flipper">
      <div class="front">
        <img id="logo" class="logo" src="/static/assets/logo-white.png" />
        <h1 id="output" class="output" style="display: none;">How can I help you?</h1>
      </div>
      <div class="back">
        <img id="video" class="video" src="{{ url_for('video_feed') }}" />
      </div>
    </div>
    <div class="hero-logo-circles">
      <img class="hero-logo-circle" src="/static/assets/index-portal-red-semi.svg" />
      <img class="hero-logo-circle" src="/static/assets/index-portal-red.svg" />
      <img class="hero-logo-circle" src="/static/assets/index-portal-orange-semi.svg" />
      <img class="hero-logo-circle" src="/static/assets/index-portal-orange.svg" />
      <img class="hero-logo-circle" src="/static/assets/index-portal-yellow-semi.svg" />
      <img class="hero-logo-circle" src="/static/assets/index-portal-yellow.svg" />
      <img class="hero-logo-circle" src="/static/assets/index-portal-green-semi.svg" />
      <img class="hero-logo-circle" src="/static/assets/index-portal-green.svg" />
      <img class="hero-logo-circle" src="/static/assets/index-portal-blue-semi.svg" />
      <img class="hero-logo-circle" src="/static/assets/index-portal-blue.svg" />
    </div>
    <input id="input-box" class="voice-input" style="display: none;" />
    <a id="start-button" class="welcome-button" onclick="onStartClick()">Start</a>
  </div>
</body>

</html>